#map {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(64, 64, 64, .90);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

.fill-page{
    height: 100vh;
    margin: 0px;
    padding: 0px;
    z-index: 1;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.abrir{
    position: absolute;
    padding-top: 47%;
    color:#FFFFFF;
    background-color: #000000;
    display: none;
    text-decoration: none;
    font-family: Roboto;
    font-size: 1.5em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 10000;
}

.cerrar{
    color: #FFFFFF;
    float: right;
    z-index: 20;
    text-decoration: none;
}

.cerrar a:hover {
    color: #B3B3B3;
    text-decoration: underline;
}

.abrir a:hover {
    color: #000000;
    text-decoration: underline;
}

.component-bottom{
    padding: 0px;
    background-color: #FFFFFF;
    line-height: inherit;
    margin-top: 10vh;
    margin-left: 5vw;
    vertical-align: baseline;
    horiz-align: center;
    align-content: center;
    position: absolute;
    z-index: 1000;
    border-radius: 5px;
}
.component-top{
    padding: 9px 22px;
    position: static;
    font-family: Roboto;
    font-size: 1.5em;
    color: #FFFFFF;
}

.wind{
    vertical-align: middle;
    align-content: center;
    border-radius: 5px;
    position: absolute;
    margin: 7vh 3vw;
    width: 12vw;
    height: 25vh;
    background-color: #fffeef;
    top: inherit;
    left: inherit;
    z-index: inherit;
}

.container2{
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    align-content: center;
    display: flex;
    word-spacing: 2pt;
    z-index: 1000;
    padding: 10px 0px 10px 0px;
    font-family: Lato, cursive;
    font-size: 13px;
    line-height: inherit;
    color: #353535;
}